.jumbotron{
  background-color: white;
  border-bottom: 10px solid #8a54ff;
  margin-bottom: 0px;
}
.jumbotron h1{
color: #794ae2;
}
.jumbotron p{
  color: #666666;
}
.text_left{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f2f2f2;
  padding-left: 19%;
  padding-right: 19%;
}
.text_right{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  padding-left: 19%;
  padding-right: 19%;
}
.about_text{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
}
.about_text p{
  font-size: 1.5rem;
  line-height: 1.5;
  color: #666666;
  padding-left: 5rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-right: 5rem;
  text-align: center;
}
.about_text h2{
  font-size: 2.25rem;
  font-weight: bold;
  color: #794ae2;
  padding-top: 4rem;
}
.about_icons{
  height: 9.375rem;
}
.map{
  background-image: url(../images/map.jpg);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 31.25rem;
}
.map_box{
  background-color: rgba(173, 74, 226, 0.9);
  height: 20rem;
  width: 25rem;
  color: #ffffff;
  font-family: 'roboto';
}
.map_box h2{
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 5rem;
  margin-bottom: 1.25rem;
  margin-left: 3rem;
}
.map_box p{
  font-size: 1.125rem;
  line-height: 1.4;
  margin-left: 3rem;
  margin-right: 3rem;
  
}
.bold{
  font-weight: bold;
}
