html{
  font-size: 16px;
}
.jumbotron{
  background-image: url(../images/photos/faculty-photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-bottom: 10px solid #8a54ff;
}

.jumbotron .container-fluid{
  padding-right: 0px;
}
.faculty_main{
  margin-top: 5.625rem;
  margin-right: 7.5rem;
  margin-left: 7.5rem;
}

.faculty_text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faculty_text h1{
  padding-top: 8rem;
}
.faculty_text p{
  text-align: center;
}

.faculty_photo{
  text-align: center;;
  font-family: 'Roboto';
  width: 16.875rem;

}
.faculty_photo h4{
  font-size: 1.5rem;
  font-weight: bold;
  color: #8a54ff;
  margin-top: 1.25rem;
}

.faculty_photo p:nth-child(3) {
  font-weight: bold;
  margin-top: .625rem;
  margin-bottom: .625rem;
  font-size: 1rem;
}
.faculty_photo p:nth-child(4) {
  font-weight: normal;
  line-height: 1.7;
  margin-bottom: 6.25rem;
  color: #666666;
  font-size: .875rem;
}
footer {
  margin-top: .6875rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .faculty_main{
    margin-bottom: 11.25rem;
}
.faculty_photo{
  height: 24rem;
  width: 100%;
  margin-bottom: 6.25rem;
}
}

@media only screen and (min-width: 992px){
  .faculty_main{
    margin-bottom: 11.25rem;
  }
  .faculty_photo{
    height: 24rem;
    width: 100%;
    margin-bottom: 6.25rem;
  }
}
