footer{
  background-image: url(../images/photos/party-photo.png);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social{
  height: 2.5rem;
  width: 5.4375rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#icons{
  width: 9.5rem;
  display: flex;
  justify-content: space-between;
}
.footer_text{
  background-color: rgba(0,0,0,0.45);
  width: 100%;
  height: 8.75rem;
  font-size: .625rem;
  letter-spacing: 0.5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
.footer_text p:nth-child(2){
  padding-top: 1.875rem;
}
#copy{
  margin-top: 1rem;
}
#contact{
  padding-right: 3rem;
}
@media only screen and (min-width: 992px) {
.social{
  height: 5rem;
  width: 100%;
}
.footer_text{
  height: 15rem;
  font-size: .875rem;
  letter-spacing: 0.7px;
}
}
