

.align_center{
  height 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav_logo{

  margin-left: .625rem;
}
.home_nav{
  height: 2.5rem;
  background-color: #000000;
  margin: 0px;
  border: 0px;
}
.links{
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  margin-right: .625rem;
  width: 100%;
}
.links a{
  font-family: "Open Sans";
  font-size: .75rem;
  font-weight: bold;
  color: #ffffff;
}
#active a{
  color: #f5a623;
}
