.jumbotron{
  margin-top: 50px;
  padding-bottom: 0px;
  padding-top: 0px;

}
.jumbotron h1{
  color: #794ae2;
  font-size: 1.25rem;
  margin-top: 1.625rem;
  margin-bottom: 1.625rem;
  font-family: "Roboto";
  font-weight: bold;

}
.jumbotron p{
  font-family: "Roboto";
  color: #666666;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.625rem;

}
.jumbotron .container-fluid{
  padding-left: 0px;
}
